
# Build folders
[Bb]in/
[Dd]ebug/
[Rr]elease/
[xX]64/
[xX]86/

# Visual Studio cache, temporary and user files
.vs/
*.user
*.aps
*.pch
*.vsx
*.sdf
*.suo
*.opendb
*.VC.db

# Logs and databases
*.log
*.bak
*.ldb

# Other files and folders
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
[Tt]humbs.db
[Dd]esktop.ini